/* Implement CSS here */

nav {
  position: -webkit-sticky;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999;
}

#navbar-logo {
  width: 50px;
  margin: 0px 10px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}


#container {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 100px;
}

#footer {
  background-color: #333;
  position: relative;
  height: 50px;
  margin-top: -50px;
  clear: both;
}

#iframe {
  margin: auto;
  width: 80%;
}

.game_textbox {
  position: relative;

  margin: 5% 10% 5% 10%;
}

#game_imgbox {
  position: relative;
  margin-top: 20px;
  max-width: 500px;
  width: 100%;
  
}

/* Other Classes for Page Styling */
.card-style  {
  margin: 200;

}


