<!-- <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <nav class="navbar navbar-inverse">
    <div class="container fluid">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle"
          data-toggle="collapse"
          data-target="#topNavBar"
        ></button>
      </div>

      <div class="collapse navbar-collapse" id="topNavBar"></div>
    </div>
  </nav>
</footer>

 -->

<footer id="footer">
    <p style="color: #9D9D9D; text-align:center;">Made with love by the Kuubatiimi</p>
</footer>
