
{% extends "base.html" %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}


<table class="table">
<thead>
<tr>
	<th>Modify Game</th>
	<th>Remove Game</th>
</tr>
</thead>
<tbody>
	<tr>
		<td>
<form method="POST" class="" >
    {% csrf_token %}
    {{ game.as_p }}
    
    
    <button type="submit" class="btn btn-success">Save</button>
</form>
</td>
<td style= "vertical-align: middle;">

<a href="/webshop/removegame/{{val}}" class="btn btn-danger" role="button">Remove Game</a>


</td>
</tr>
</tbody>
</table>


{% endif %} 



{%endblock%}
