<script>
var searchClick = function() {
    var text = document.getElementById("navbar-form").value;
    if (text) {
      window.location.href = "/webshop/search/" + text;
    }
  }
</script>



<div class="row" id="navdiv">
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img id="navbar-logo" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/237/alien-monster_1f47e.png" alt="">
        <span id="navbar-text">GAMESHOP</span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
            {% if user.groups.all.0.name == 'Developers' %}
            <a class="nav-item nav-link" href="/webshop/addgame/"
              ><span>Add Game</span>
            </a>
            {% endif %}
          <a class="nav-item nav-link" href="/webshop/your_games">
			  <span> Your Games</span></a>
          <a
            class="nav-item nav-link"
            href="{% url 'logout'%}?next={{request.path}}"
            >Logout</a
          >
          <a class="nav-item nav-link" href="/webshop/profile/"
            ><span> {{ user.get_username }}</span></a
          >
          {% else %}
          <a
            class="nav-item nav-link"
            href="{% url 'login'%}?next={{request.path}}"
            >Login</a
          >
          <a class="nav-item nav-link" href="{% url 'signup' %}"
            ><span>Sign up</span></a
          >
          {% endif %}
        </div>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" id="navbar-form" type="search" placeholder="Search for games" aria-label="Search">
          <button class="btn btn-light my-2 my-sm-0" id="navbar-search" type="button" onclick="searchClick()">Search</button>
        </form>
      </div>
    </nav>
  </div>
</div>
