{% extends "base.html" %}{% block content %}

<form action="https://tilkkutakki.cs.aalto.fi/payments/pay" method="POST">
  <input type="hidden" name="pid" value="{{pid}}">
  <input type="hidden" name="sid" value="{{sid}}">
  <input type="hidden" name="amount" value="{{amount}}">
  <input type="hidden" name="success_url" value="{{domain}} /payment/success">
  <input type="hidden" name="cancel_url" value="{{domain}} /payment/cancel">
  <input type="hidden" name="error_url" value="{{domain}} /payment/error">
  <input type="hidden" name="checksum"value="{{checksum}}">
  Amount to be paid 9.95¤
  <input type="submit" value="Pay">
</form>
{% endblock %}
