{% extends "base.html" %} {% load static %} {% block content %}


<div class="container">
<div class="row">
  {% for game in filtered_games %}
  <div class="card" style="width: 21rem;">
    <img
      class="card-img-top im-fluid"
      src="{{game.picture_url}}"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">
        <a href="/webshop/{{game.id}}/"> {{game.game_title}}</a>
      </h5>
      <p class="card-text">
          {{game.description}}
      </p>
      <a href="/webshop/{{game.id}}/" class="btn btn-dark">To the game</a>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}
