{% extends "base.html" %}
{% block content %}
{% load static %}

<h2>Your owned games</h2>
{%if game%}
games here..... 
{%else%}
You dont have games
{%endif%}

<br>
{%if data%}
<h2>You are developer of these games:</h2>



<table class="table">
	<thead>
	 <tr>
      <th scope="col">Game title:</th>
      <th scope="col">Price:</th>
      <th scope="col">Bought:</th>
      <th scope="col">Modify the game:</th>
    </tr>
	</thead>
	<tbody>
{%for key,value in data.items%}
{%for k, val in value.items%}
<tr>
<th>{{val.title}}</th>
<td>{{val.price}}</td>
<td>{{val.bought}}</td>
<td>
	
	<a href="/webshop/game{{val.id}}">make</a></td>
</tr>



{%endfor%}

{%endfor%}
{%endif%}

</tbody>
</table>





{%endblock%}
